* {
	font-family: 'VT323', monospace;
	font-size: 25px;
	color: white;
	white-space: nowrap;
}
/*Google font presets{
	font-family: 'Nova Mono', monospace;
	font-family: 'VT323', monospace;
}*/
header {
	font-size: 75px;
	font-family: 'Nova Mono', monospace;
	text-align: center;
	color: white;
	border: 20px solid white;
	border-radius: 100px;
	font-weight: bold;
	padding: 30px 0px;
	margin: 20px 0px;
	position: sticky;
	left: 0;
}
body {
	background-color: #fe0016;
	margin: 0px;
}
p {
	text-align: center;
	margin: auto;
	width: 50%;
	margin-top: 10%;
}
.slide {
	margin-left: 25%;
	margin-right: 25%;
}
h2 {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 10%;
	width: 50%;
	text-align: center;
	font-size: 40px;
	font-family: 'Nova Mono', monospace;
}
#container {
	border: 3px solid #f2f2f2;
}
.spacer {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	font-family: 'Nova Mono', monospace;
}
